.flex-box {
  display: flex;
  flex-wrap: wrap;
  max-width: 130rem;
  margin: 0 auto;
}

.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.left {
  justify-content: flex-start;
  align-items: center;
}
.medium-gap {
  gap: 6rem;
}
