/* @import url("https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css"); */
.fi {
}

.fi-br-cross {
  font-size: 1.2rem;
  margin: 0 auto;
}

.icon-close {
  width: 2rem;
  height: 2rem;
}
