.form-env {
  font-size: 1.4rem;
  height: 100%;
  width: 100%;

  position: relative;
  background-image: linear-gradient(rgba(255, 167, 4), rgba(241, 197, 2));
  box-shadow: 0 2px 8px 6px rgba(0, 0, 0, 0.25);
  border-radius: 1.2rem;
}
.form-env .env-heading {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.form-env .input-box {
  /* margin: 2rem 4rem; */
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-env .input-box label {
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
}
.form-env .input-box input {
  width: 95%;
  font-size: 1.6rem;
  background-color: transparent;
  border: transparent;
  border-radius: 0px;
  /* border-bottom: 1.5px solid rgb(80, 79, 79); */
  border-bottom: 1.5px solid rgba(87, 85, 85, 0.5);

  padding: 0;
  margin-left: 1rem;
}

.form-env .input-box input:focus {
  /* background-color: rgba(231, 226, 226, 0.4); */
  background-color: transparent;
  border: transparent;
  /* border-bottom: 1.5px solid rgb(80, 79, 79); */
  border-bottom: 1.5px solid rgba(87, 85, 85, 0.5);
}

.form-env .input-box input:-webkit-autofill,
.form-env .input-box input:-webkit-autofill:hover,
.form-env .input-box input:-webkit-autofill:focus,
.form-env .input-box input:-webkit-autofill:active {
  border: transparent;
  /* border-bottom: 1.5px solid rgb(80, 79, 79); */
  border-bottom: 1.5px solid rgba(87, 85, 85, 0.5);
  /* change text color of autofill */
  /* -webkit-text-fill-color: rgb(255, 255, 255) !important; */

  /* set solid background color for autofill */
  /* -webkit-box-shadow: 0 0 0px 90px rgba(231, 226, 226, 0.4) inset; */

  /* 2 solutions to set transparent background color for autofill */
  /* transition: background-color 5000s ease-in-out 0s; */
  background-clip: text;
}

.form-env .input-box .error-message {
  margin-left: 1rem;
}

.form-env .note {
  width: 100%;
  height: 100%;
}

.form-env .input-box .btn--env {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .form-env .input-box {
    padding: 2rem 4rem;
  }
  .form-env .env-heading {
    font-size: 2.6rem;
  }
  .form-env .input-box label {
    font-size: 2rem;
  }
  .form-env .input-box input {
    font-size: 1.8rem;
  }
}
