.main-navigation__header-nav {
  /* display: none; */
  position: fixed;
  top: 0;
  left: -100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.main-navigation__drawer-nav {
  height: 100vh;
}

.main-navigation.btn-close {
  width: 4.2rem;
  height: 4.2rem;
  top: 1%;
  left: 99%;
}

.main-navigation__menu-btn {
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 2rem; */
  cursor: pointer;
}

@media (min-width: 768px) {
  .main-navigation__menu-btn {
    display: none;
  }
  .main-navigation__header-nav {
    display: block;
    visibility: visible;
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
  }
}

@media (max-width: 348px) {
  .main-navigation__header-heading {
    font-size: 2rem;
  }
}
