@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000;
  box-sizing: border-box;

  /* background-color: #3f3f3f; */
}

.popup-center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25rem 0 15rem 0;
  font-size: 2rem;
}

@keyframes appear {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  80% {
    transform: translateY(-1rem);
    opacity: 0.9;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes popup {
  0% {
    transform: translateY(-0.5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}
